[core]
	excludesfile = ~/.global-gitignore
	autocrlf = false
	pager = delta

[user]
	name = moisish
	email = moisis@digitalmarmalade.co.uk
	signingkey = 2AA80ADDDCDE7964BBE6DA5F1841D1754EEE2C37

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[pull]
	rebase = false

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[gpg]
	program = /opt/homebrew/bin/gpg

[push]
	autoSetupRemote = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
